.header {
  @include flex(row, space-between, center);
  height: 10%;
  padding: rem(10px, $fontSize);
  background-color: $item-color;
  &__btn {
    @include flex('', space-between, center);
    width: rem(420px, $fontSize);
    & a{
      display: inline-block;
    }
    &--photo {
      width: 100%;
      max-width: rem(56, $fontSize);
      display: block;
      margin: 0 auto;
    }
  }
}
