.main {
  background-color: $background-color;
  @include flex();
  height: 90%;
}

.menu-params {
  height: rem(80px, $fontSize);
  min-width: 100%;
  background-color: $warning-color;
  &__filter {
    width: rem(320, $fontSize);
  }
}

