//Color
$default-color: #2f3242;
$background-color: #2f3242;
$item-color: #3a3e52;
$active-color: #3a3e52;
$primary-color: #2196f3;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #2196f3;
$light-color: #9ea3b4;

$title-color: #ffffff;
$text-color: #9ea3b4;

//Size
$phoneWidth: 480px;
$tableWidth: 768px;
$desktopWidth: 1280px;
$mainLineHeight: 28px;
$fontSize: 16px;
