@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/function";
@import "base/reset";
@import "base/typography";
@import "base/scroll";
@import "components/button";
@import "components/input";
@import "layout/header";
@import "layout/main-content";
@import "layout/navigation";
@import "layout/section";
@import "layout/footer";
@import "pages/login-form";
@import "pages/home";
@import "pages/chat";
@import "pages/project";
@import "pages/analutic";
@import "pages/contacts";

//libs
@import '~bootstrap';

@import "libs/themify-icons.css";


//@import "libs/themify-icons/themify-icons/themify-icons";

