html, body {
  height: 100vh;
  line-height: $mainLineHeight;
  font-size: $fontSize;
  color: $title-color;
  background-color: $background-color !important;
  @media screen and (min-width: $phoneWidth) {
    font-size: $fontSize - 4px;
  }
  @media screen and (min-width: $desktopWidth) {
    font-size: $fontSize;
  }
  @media screen and (min-width: $desktopWidth + 500px) {
    font-size: $fontSize + 2px;
  }
}
